@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbfc;
  --foreground: #1c1f26;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

body {
  font-feature-settings: "ss01", "ss02";
}
